{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-primary btn-sm float-lefet">{{ button_label|default('Save') }}</button>
    <a href="{{ path('app_blog_index') }}" class="btn btn-outline-secondary btn-sm float-right">back</a>
{{ form_end(form) }}
