{% extends 'base.html.twig' %}

{% block title %}New Blog{% endblock %}

{% block body %}

  <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
  <!-- start banner Area -->
  <section class="about-banner paralax-mf bg-image" style="background-image:  url({{asset('../img/blog.jpg')}}); ">
    <div class="overlay-itro"></div>
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
          <h1 class="text-white">Portfolio</h1>
          <p class="text-white link-nav">
            <a href="{{ path('app_home') }}">Home</a>
            <span class="lnr lnr-arrow-right"></span>
            <a href="{{ path('app_blog_index') }}">Blog</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->
  <div class="container">
    <div class="row">
        <div class="col-9 md-9 mt-3">
             <h1>Create new Blog</h1>

            {{ include('blog/_form.html.twig') }}

            
        </div>
    </div>
  </div>
    
{% endblock %}
